.autocomplete-content
  margin-top -15px
  display block;
  opacity 1
  position absolute
  z-index 100
  li
    display block
    background #e6e6e6
    color #404041
    font-size 14px
    padding 0.7rem 1rem
    width 100%
    .highlight
      color #3fc1cd