.grid
	display flex
	flex-wrap wrap
	&.out-margin
		margin 0 -.5rem
	&.h-full
		min-height 100%
	> .grid-item
		display flex
		flex-wrap wrap
		box-sizing border-box
		// Width
		&.w1
			width (100% / 12) * 1
		&.w2
			width (100% / 12) * 2
		&.w3
			width (100% / 12) * 3
		&.w4
			width (100% / 12) * 4
		&.w1
			width (100% / 12) * 1
		&.w5
			width (100% / 12) * 5
		&.w6
			width (100% / 12) * 6
		&.w7
			width (100% / 12) * 7
		&.w8
			width (100% / 12) * 8
		&.w9
			width (100% / 12) * 9
		&.w10
			width (100% / 12) * 10
		&.w11
			width (100% / 12) * 11
		&.w12
			width (100% / 12) * 12
			// Medium
		@media medium
			&.m-w1
			width (100% / 12) * 1
			&.m-w2
				width (100% / 12) * 2
			&.m-w3
				width (100% / 12) * 3
			&.m-w4
				width (100% / 12) * 4
			&.m-w5
				width (100% / 12) * 5
			&.m-w6
				width (100% / 12) * 6
			&.m-w7
				width (100% / 12) * 7
			&.m-w8
				width (100% / 12) * 8
			&.m-w9
				width (100% / 12) * 9
			&.m-w10
				width (100% / 12) * 10
			&.m-w11
				width (100% / 12) * 11
			&.m-w12
				width (100% / 12) * 12
		@media small
			&.s-w1
			width (100% / 12) * 1
			&.s-w2
				width (100% / 12) * 2
			&.s-w3
				width (100% / 12) * 3
			&.s-w4
				width (100% / 12) * 4
			&.s-w5
				width (100% / 12) * 5
			&.s-w6
				width (100% / 12) * 6
			&.s-w7
				width (100% / 12) * 7
			&.s-w8
				width (100% / 12) * 8
			&.s-w9
				width (100% / 12) * 9
			&.s-w10
				width (100% / 12) * 10
			&.s-w11
				width (100% / 12) * 11
			&.s-w12
				width (100% / 12) * 12
		// Height
		&.h1
			height (100% / 12) * 1
		&.h2
			height (100% / 12) * 2
		&.h3
			height (100% / 12) * 3
		&.h4
			height (100% / 12) * 4
		&.h1
			height (100% / 12) * 1
		&.h5
			height (100% / 12) * 5
		&.h6
			height (100% / 12) * 6
		&.h7
			height (100% / 12) * 7
		&.h8
			height (100% / 12) * 8
		&.h9
			height (100% / 12) * 9
		&.h10
			height (100% / 12) * 10
		&.h11
			height (100% / 12) * 11
		&.h12
			height (100% / 12) * 12