.modal
	box-sizing border-box
	display none
	left 50%
	max-height 95vh
	max-width 90%
	overflow auto
	position fixed
	top 50% !important
	transform translate(-50%,-50%) !important
	transition .3s
	width 1000px
	border-radius 1rem
	.modal-content
		background light-color
		padding 2rem
	.modal-footer
		background light-color
		border-top 1px dashed lightness(grey, 80)
		padding 1rem 2rem
	&.open
		display block
	&.bottom-sheet
		max-width 100%
		left 0
		right 0
		bottom 0
		top initial !important
		transform none !important
		width 100%
		z-index -1 !important
		&.open
			z-index 1003 !important
		.modal-header
			background none
			padding 1rem 2rem
			h2
				font-size 60px
				color primary-color
				margin 0