// Colors
primary-color   = #AD002B
secondary-color = #999999
dark-color      = #666666
light-color     = #FFFFFF
grey            = #999999
red             = red
green           = green

// Buttons
button-color = primary-color

// Fonts
primary-font = 'Catamaran', sans-serif

// Switch
switch-color = primary-color

// Radio Buttons
radio-color = primary-color

// Checkbox
checkbox-color = primary-color

// Cards
card-bg-color = #FBFBFB